# mydata
SCRAPPINGDATA
merged_kota_drop_dupl.csv
merged_data - Sheet7.csv
transform_1.csv
transform_2.csv
nitip_eko_notes.md
deep_learning_regression_learnnotes.md
MERGED_DATA_BARU.xlsx


# notebook
read_n_parse_data.ipynb
.ipynb_checkpoints/

.DS_Store

# model
dnn_model/
getkos_model/
model_dnn_regression.tflite
model_getkos_regression.tflite


model_autokeras/
model_getkos_regression_2020_12_13.tflite
model_getkos_regression_2020_12_26.tflite

data/

models_saved_data/
getkos_nas/


df_encode_rd.csv
df_rd.csv
new_mapping_cek - Sheet1.csv
